<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мессенджер</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat-list.css}">
</head>
<body>
    <div class="header">
        <div class="logo">Logo</div>
        <div class="nav">
            <button class="nav-button active">Чаты</button>
            <button class="nav-button">Контакты</button>
        </div>
    </div>

    <div class="chat-list">
        <div class="chat-item">
            <div class="chat-info">
                <span class="chat-name">Название чата</span>
                <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
            </div>
        </div>
        <!-- Повторение блоков чата -->
        <div class="chat-item">
            <div class="chat-info">
                <span class="chat-name">Название чата</span>
                <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
            </div>
        </div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
		<div class="chat-item">
		    <div class="chat-info">
		        <span class="chat-name">Название чата</span>
		        <span class="chat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
		    </div>
		</div>
        <!-- Добавить еще чаты по необходимости -->
    </div>
</body>
</html>
